@model Doctor
@{
    int count = 0;
}
<meta charset="utf-8" />
<title>Doctris - Doctor Appointment Booking System</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
<meta name="keywords" content="Appointment, Booking, System, Dashboard, Health" />
<meta name="author" content="Shreethemes" />
<meta name="email" content="support@shreethemes.in" />
<meta name="website" content="https://shreethemes.in/" />
<meta name="Version" content="v1.4.0" />
<!-- favicon -->
<link rel="shortcut icon" href="https://shreethemes.in/doctris/layouts/assets/images/favicon.ico">

<!-- Css -->
<link href="~/assets/libs/js-datepicker/datepicker.min.css" rel="stylesheet">
<!-- Bootstrap Css -->
<link href="~/assets/css/bootstrap.min.css" class="theme-opt" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/remixicon/fonts/remixicon.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
<!-- Style Css-->
<link href="~/assets/css/style.min.css" class="theme-opt" rel="stylesheet" type="text/css" />



<!-- Start Hero -->
<section class="bg-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 col-12">
                <div class="rounded shadow overflow-hidden sticky-bar">
                    <div class="card border-0">
                        <img src="~/assets/images/doctors/profile-bg.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="text-center avatar-profile margin-nagative mt-n5 position-relative pb-4 border-bottom">
                        <img src="~/assets/images/doctors/01.jpg" class="rounded-circle shadow-md avatar avatar-md-md" alt="">
                        <h5 class="mt-3 mb-1">Dr.@Model.FullName</h5>
                        <p class="text-muted mb-0">@Model.Department.Name</p>
                    </div>

                    <ul class="list-unstyled sidebar-nav mb-0">
                        <li class="navbar-item"><a asp-action="Dashboard" asp-controller="DoctorUser" class="navbar-link"><i class="ri-airplay-line align-middle navbar-icon"></i> Dashboard</a></li>
                        <li class="navbar-item"><a href="doctor-schedule.html" class="navbar-link"><i class="ri-timer-line align-middle navbar-icon"></i> Schedule Timing</a></li>
                        <li class="navbar-item"><a asp-action="Profile" asp-controller="DoctorUser" asp-route-id="@Model.UserId" class="navbar-link"><i class="ri-user-line align-middle navbar-icon"></i> Profile</a></li>
                        <li class="navbar-item"><a href="doctor-profile-setting.html" class="navbar-link"><i class="ri-user-settings-line align-middle navbar-icon"></i> Profile Settings</a></li>
                        <li class="navbar-item"><a href="doctor-chat.html" class="navbar-link"><i class="ri-chat-voice-line align-middle navbar-icon"></i> Chat</a></li>
                        <li class="navbar-item"><a asp-action="Logout" asp-controller="Account" class="navbar-link"><i class="ri-login-circle-line align-middle navbar-icon"></i> Logout</a></li>

                    </ul>
                </div>
            </div><!--end col-->

            <div class="col-xl-9 col-lg-8 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="row">
                    <div class="col-xl-9 col-lg-6 col-md-4">
                        <h5 class="mb-0">Appointment</h5>
                    </div><!--end col-->


                </div><!--end row-->

                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="table-responsive bg-white shadow rounded">
                            <table class="table mb-0 table-center">
                                <thead>
                                    <tr>
                                        <th class="border-bottom p-3" style="min-width: 50px;">#</th>
                                     

                                        <th class="border-bottom p-3">Department</th>
                                        <th class="border-bottom p-3" style="min-width: 150px;">Date</th>
                                        <th class="border-bottom p-3">PhoneNumber</th>
                                        <th class="border-bottom p-3" style="min-width: 220px;">Doctor</th>
                                        <th class="border-bottom p-3">Comment</th>
                                        <th class="border-bottom p-3" style="min-width: 150px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Appointment item in ViewBag.Appointments)
                                    {
                                        count++;
                                       
                                        <tr>
                                            <th class="p-3">@count</th>
                                            

                                            <td class="p-3">@item.Department.Name</td>
                                            <td class="p-3">@item.VisitDate</td>
                                            <td class="p-3">@item.Phone</td>
                                            <td class="p-3">
                                                <a href="#" class="text-dark">
                                                    <div class="d-flex align-items-center">
                                                        <img src="~/Upload/Doctor/@item.Doctors.ImgUrl" class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                                                        <span class="ms-2">Dr. @item.Doctors.FullName</span>
                                                    </div>
                                                </a>
                                            </td>
                                            <td class="p-3">@item.Comment</td>
                                           
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end row-->

                <div class="row text-center">
                    <!-- PAGINATION START -->
                    <div class="col-12 mt-4">
                        <div class="d-md-flex align-items-center text-center justify-content-between">
                            <span class="text-muted me-3">Showing 1 - 10 out of 50</span>
                            <ul class="pagination justify-content-center mb-0 mt-3 mt-sm-0">
                                <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next">Next</a></li>
                            </ul>
                        </div>
                    </div><!--end col-->
                    <!-- PAGINATION END -->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Hero -->
<!-- Modal start -->
<!-- Add New Appointment Start -->
<!-- Add New Appointment End -->
<!-- View Appintment Start -->
<div class="modal fade" id="viewappointment" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom p-3">
                <h5 class="modal-title" id="exampleModalLabel1">Appointment Detail</h5>
                <button type="button" class="btn btn-icon btn-close" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4 text-dark"></i></button>
            </div>
            <div class="modal-body p-3 pt-4">
                <div class="d-flex align-items-center">
                    <img src="~/assets/images/client/01.jpg" class="avatar avatar-small rounded-pill" alt="">
                    <h5 class="mb-0 ms-3">Howard Tanner</h5>
                </div>
                <ul class="list-unstyled mb-0 d-md-flex justify-content-between mt-4">
                    <li>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex">
                                <h6>Age:</h6>
                                <p class="text-muted ms-2">25 year old</p>
                            </li>

                            <li class="d-flex">
                                <h6>Gender:</h6>
                                <p class="text-muted ms-2">Male</p>
                            </li>

                            <li class="d-flex">
                                <h6 class="mb-0">Department:</h6>
                                <p class="text-muted ms-2 mb-0">Cardiology</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex">
                                <h6>Date:</h6>
                                <p class="text-muted ms-2">20th Dec 2020</p>
                            </li>

                            <li class="d-flex">
                                <h6>Time:</h6>
                                <p class="text-muted ms-2">11:00 AM</p>
                            </li>

                            <li class="d-flex">
                                <h6 class="mb-0">Doctor:</h6>
                                <p class="text-muted ms-2 mb-0">Dr. Calvin Carlo</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- View Appintment End -->
<!-- Accept Appointment Start -->
<div class="modal fade" id="acceptappointment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body py-5">
                <div class="text-center">
                    <div class="icon d-flex align-items-center justify-content-center bg-soft-success rounded-circle mx-auto" style="height: 95px; width:95px;">
                        <span class="mb-0"><i class="uil uil-check-circle h1"></i></span>
                    </div>
                    <div class="mt-4">
                        <h4>Accept Appointment</h4>
                        <p class="para-desc mx-auto text-muted mb-0">Great doctor if you need your family member to get immediate assistance, emergency treatment.</p>
                        <div class="mt-4">
                            <a href="#" class="btn btn-soft-success">Accept</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Accept Appointment End -->
<!-- Cancel Appointment Start -->
<div class="modal fade" id="cancelappointment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body py-5">
                <div class="text-center">
                    <div class="icon d-flex align-items-center justify-content-center bg-soft-danger rounded-circle mx-auto" style="height: 95px; width:95px;">
                        <span class="mb-0"><i class="uil uil-times-circle h1"></i></span>
                    </div>
                    <div class="mt-4">
                        <h4>Cancel Appointment</h4>
                        <p class="para-desc mx-auto text-muted mb-0">Great doctor if you need your family member to get immediate assistance, emergency treatment.</p>
                        <div class="mt-4">
                            <a href="#" class="btn btn-soft-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cancel Appointment End -->
<!-- Modal end -->
